.brand-bg-primary {
	background: $primary-color;
	&.light {
		background: lighten($primary-color, 5%);
	}
	&.dark {
		background: darken($primary-color, 5%);
	}
}
.brand-bg-secondary {
	background: $secondary-color;
	&.light {
		background: lighten($secondary-color, 5%);
	}
	&.dark {
		background: darken($secondary-color, 5%);
	}
}
.brand-bg-alert {
	background: $alert-color;
	&.light {
		background: lighten($alert-color, 5%);
	}
	&.dark {
		background: darken($alert-color, 5%);
	}
}
.brand-bg-success {
	background: $success-color;
	&.light {
		background: lighten($success-color, 5%);
	}
	&.dark {
		background: darken($success-color, 5%);
	}
}
.brand-bg-warning {
	background: $warning-color;
	&.light {
		background: lighten($warning-color, 5%);
	}
	&.dark {
		background: darken($warning-color, 5%);
	}
}
.brand-bg-info {
	background: $info-color;
	&.light {
		background: lighten($info-color, 5%);
	}
	&.dark {
		background: darken($info-color, 5%);
	}
}
